<div class="section1">
  <mat-toolbar id="header">
    <a href="#" target="">
      <img id="header_img" alt="Energi Bizz Logo" src="assets/images/logo.png" />
    </a>
  </mat-toolbar>

  <div class="container">
    <div class="ovInfo">
      <img lass="ovLogo" alt="Energi Bizz" src="assets/images/logo.png" />
      <h4>Videoconferencing Solution</h4>
    </div>

    <!--<div class="formContainer">
      <form (ngSubmit)="DemoApplication()">
        <div class="joinForm">
          <button type="submit" class="inputForm" id="joinButton" >DEMO</button>
        </div>
      </form>
    </div>-->

  </div>

  <mat-toolbar class="footer">
  </mat-toolbar>
</div>
